.MuiContainer-root
  &.pokemon-profile
    &.white
      color: var(--gray-1)
      border: 1px solid var(--gray-5)
    &.yellow
      color: var(--gray-1)
    & .MuiGrid-root
      &.pokemon-profile-header
        padding: 0.5rem
        min-height: 17.5rem
        padding-bottom: -1.5rem
        color: var(--white)
        &.black
          background-color: var(--black)
        &.blue
          background-color: var(--blue)
        &.brown
          background-color: var(--brown)
        &.gray
          background-color: var(--gray-4)
        &.green
          background-color: var(--green)
        &.pink
          background-color: var(--pink)
        &.purple
          background-color: var(--purple)
        &.red
          background-color: var(--red)
        &.white
          background-color: var(--white)
          color: var(--gray-1)
          border: 1px solid var(--gray-5)
        &.yellow
          background-color: var(--yellow)
        & .pokemon-profile-header-link
          color: var(--white)
        & .MuiGrid-container
          padding: 2rem 1.25rem 0 1.25rem
      &.pokemon-profile-tabs
        background-color: transparent
        & .MuiPaper-root
          border-top-left-radius: 25px
          border-top-right-radius: 25px
          border-bottom-left-radius: 0
          border-bottom-right-radius: 0
          padding-left: 1.25rem
          padding-right: 1.25rem
          padding-top: 2rem
          &.pokemon-profile-infos-container
            padding-left: 0
            padding-right: 0
            padding-bottom: 2.5rem
            padding-top: 0rem
            & > .pokemon-profile-infos
              display: block
              & .wrap
                display: flex
                justify-content: flex-start
                flex-flow: row wrap
                font-size: 0.875rem
                color: var(--gray-2)
                text-transform: capitalize
                &.evolution
                  flex-flow: column wrap
                  & .evolution-thumb
                    margin-right: 1.25rem
                    & > img
                      border: 1px solid var(--gray-5)
                      border-radius: 10px
                  & .evolution-details
                      & h3
                        margin-block-start: 0
                        margin-block-end: 0.313rem
                  & .pokemon-profile-evolution-label
                    margin-bottom: 0.938rem
                    font-size: 1.125rem
                    font-weight: bold
                    color: var(--gray-1)
                    &:not(:first-child)
                      margin-top: 1.875rem
                  & .pokemon-profile-evolution-trigger
                    text-transform: lowercase
                    &::first-letter
                      text-transform: uppercase
                & .MuiTypography-h5
                  margin-block-end: 0.938rem
                & .pokemon-profile-info-label
                  flex: 1 0 33.3%
                  color: var(--gray-3)
                  margin-bottom: 0.938rem
                  font-weight: 500
                  &:last-child
                    margin-bottom: 1.875rem
              & .pokemon-profile-info-content
                flex: 0 0 65%
            & .pokemon-profile-info-header
                font-size: 1.125rem
                font-weight: bold
                margin-bottom: 0.938rem
                color: var(--gray-1)
      & .pokemon-profile-header-name
        text-transform: capitalize
        padding: 0
        & h3
          font-size: 1.5rem
          margin-block-start: 0em
          margin-block-end: 0em
          line-height: 0
      & .pokemon-profile-header-id
        font-size: 0.875rem
      & .pokemon-profile-header-type
        padding: 0.4rem 0
        margin-right: 0.313rem
        text-transform: capitalize
        font-size: 0.813rem
        font-weight: 500
        color: var(--white)
        &.MuiChip-root
          background-color: rgba(255, 255, 255, 0.2)
          & span
            padding: 0.25rem 0.65rem
      & .pokemon-profile-tabs-navigation
        & .MuiTab-wrapper
          font-size: 0.875rem 

.pokemon-profile-infos-tabpanel
  padding-top: 1.875rem

.gender-rate
  display: inline-flex
  flex-flow: row wrap
  align-items: center
  width: 50%
  & svg
    font-size: 1rem
  &.male
    & svg
      color: #50a2d4
  &.female
    & svg
      color: #d451b0


.pokemon-profile-avatar-container
  display: block
  position: relative
  padding-bottom: 1.5rem
  margin-top: -6%
  &::before
    display: block
    position: absolute
    transform: translate(50%, 50%)
    top: auto
    left: auto
    right: 50%
    bottom: 200%
    background: rgba(255, 255, 255, 0.2)
    content: ''
    width: 12.75rem
    height: 12.75rem
    border-radius: 100%
    margin: 0 auto
  & .pokemon-profile-avatar
    display: block
    position: absolute
    transform: translate(50%, 50%)
    top: auto
    left: auto
    right: 50%
    bottom: 200%
    margin: 0 auto
    width: 17.5rem
    height: 17.5rem
  @media (max-width: 767px)
    margin-top: -12%

.align-left
  text-align: left
.align-right
  text-align: right
.align-center
  text-align: center

.MuiContainer-root
  & .border-top-rounded
    border-top-left-radius: 20px
    border-top-right-radius: 20px