.pokemon-main
  margin-top: 2.188rem
.content-not-found
  text-align: center
  & > .header,
  & > .link
    color: var(--primary-color)
  & > .text
    color: var(--gray-3)
  & > .link
    font-weight: 500
    line-height: 0
    & > svg
      vertical-align: middle
      font-size: 1rem