.search-tool 
  background: var(--gray-6)
  border-radius: 50px
  padding: 0 0.65rem
  &.MuiGrid-spacing-xs-1
    & .MuiGrid-item
      padding: 0.5rem
      & label
        & + .MuiInput-formControl
          margin-top: 0
      & .MuiInput-underline
        &:before,
        &:after
          display: none
      & .MuiInputLabel-formControl
        left: -3.5rem
        transform: translate(50%, 50%) scale(1)
        transition: all 0.5s ease
      & .MuiFormLabel-root
        color: var(--gray-4)
        font-weight: 500
        &.Mui-focused
          color: var(--gray-5)
      & .MuiInputLabel-shrink
        left: -5%
        transform-origin: top
        transform: scale(0.75)