.MuiBox-root
  &.pokemon-detail
    display: flex
    padding: 0.938rem
    color: var(--gray-6)
    height: 8.125rem
    overflow: hidden
    &.black
      background-color: var(--black)
    &.blue
      background-color: var(--blue)
    &.brown
      background-color: var(--brown)
    &.gray
      background-color: var(--gray-4)
    &.green
      background-color: var(--green)
    &.pink
      background-color: var(--pink)
    &.purple
      background-color: var(--purple)
    &.red
      background-color: var(--red)
    &.white
      background-color: var(--white)
      color: var(--gray-1)
      border: 1px solid var(--gray-5)
    &.yellow
      background-color: var(--yellow)
      color: var(--gray-1)
    & .pokemon-detail-container
      padding: 0
      display: flex
      @media (max-width: 767px)
        position: relative
        & span
          display: block
          width: 100%
          height: 100%
          background-color: rgba(255, 255, 255, 0.2)
      @media (min-width: 768px)
        align-items: center
      & .pokemon-detail-body
        flex: 0 0 70%
        align-items: start
        order: 1
        @media (min-width: 768px)
          flex: 0 0 50%
          order: 2
          position: inherit
          margin-left: 3rem
      @media (min-width: 768px)
        & .pokemon-detail-avatar
          flex: 0 0 auto
          order: 2
.pokemon-name
  font-size: 1rem
  text-transform: capitalize
  margin-block-start: auto
.pokemon-type-list
  list-style: none
  padding: 0
  margin: 0
  & .pokemon-type
    border-radius: 30px
    margin: 0.313rem 0
    max-width: 3rem
    font-size: 0.688rem
    padding: 0.25rem 0.375rem
    background-color: rgba(255, 255, 255, 0.2)
    text-transform: capitalize
.pokemon-id
  font-weight: bold
  font-size: 0.875rem
  position: absolute
  bottom: 0rem
  @media (min-width: 768px)
    position: inherit
.pokemon-avatar
  display: flex
  position: inherit
  order: 2
  padding: 0rem
  @media (min-width: 768px)
    position: inherit
    background-color: transparent
    transform: scale(2)
    order: 1
    flex: 0 0 50%
    & img
      transform: scale(0.8)
      padding: 1.25rem
      margin-left: -1.25rem
      background-color: rgba(255, 255, 255, 0.2)
      border-radius: 100%
@media ( max-width: 767px )
  .pokemon-avatar
    align-items: flex-end
    & img
      margin: -2rem -1rem -1.5rem -1rem
      transform: scale(1.2)
      max-width: 100%
      width: 4.075rem
      height: 4.075rem
      background-color: rgba(255, 255, 255, 0.2)
      padding: 0.5rem 1.4rem
      border-radius: 100%