@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

:root {
  --primary-color: #6d7be3;
  --gray-1: #212121;
  --gray-2: #585858;
  --gray-3: #939393;
  --gray-4: #bcbcbc;
  --gray-5: #e0e0e0;
  --gray-6: #f5f5f5;
  --white: #ffffff;
  --black: #1f1f1f;
  --blue: #4ec6fd;
  --brown: #705849;
  --gray: #b8b9cf;
  --green: #62d5ae;
  --pink: #f7a2df;
  --purple: #9f449f;
  --red: #f16f65;
  --yellow: #ffce4b;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
